@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&family=Cinzel+Decorative&family=Josefin+Sans:ital,wght@0,400;1,200;1,400&family=Luxurious+Roman&family=Montserrat:ital@0;1&family=Yanone+Kaffeesatz:wght@300;400&display=swap");
/* variables */
/* media queries */
@media only screen and (max-width:425px) {
  .header-form {
    display: none;
  }
}

/* reset universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: "Yanone Kaffeesatz";
  font-size: 1.3rem;
}

#principal {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
#principal .thumbnail p {
  margin-top: 1%;
  margin-bottom: 1%;
}

.larger {
  font-size: larger;
}

.thumbnail {
  position: relative;
  display: inline-block;
}

.bloque {
  display: block;
}

@media only screen and (min-width:1025px) {
  .caption {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -75%);
    text-align: center;
    color: white;
    font-weight: bold;
  }
}

.titular {
  font-family: "Cinzel Decorative";
  font-size: xx-large;
}
.titular p {
  font-family: "Luxurious Roman";
}

.margen-header {
  padding-left: 0.5%;
}

.dropdown-menu {
  background-color: rgb(130, 157, 184) !important;
}

.multi-bg2 {
  width: 100%;
  height: auto;
  background: linear-gradient(to top, #fdafa0, #FECBC5, #FECBC5, #fdafa0);
}

main {
  font-family: "Alegreya";
}
@media only screen and (min-width:1025px) {
  main {
    padding-left: 15%;
    padding-right: 15%;
  }
}

#featured-post {
  margin-bottom: 1%;
  padding-bottom: 1%;
  border-bottom: 1px dashed #ff6a6c;
}
#featured-post .contenedor-grid {
  padding: 1% 0.5%;
}
#featured-post .contenedor-grid h2 {
  margin-bottom: 0.3rem;
}

.titular {
  grid-area: titular;
}
.titular h2 {
  font-family: "Cinzel Decorative";
  font-size: 40px;
}
.titular .feat-description {
  font-size: 32px;
  font-style: italic;
  margin-bottom: 0.2rem;
}
.titular div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#img-feat-article {
  grid-area: img;
  content: url(../assets/img/atardecer.jpg);
  max-width: 100%;
  border-radius: 30px;
  border: 2px dotted #1c1c3e;
  margin-right: 0.5%;
}
@media only screen and (max-width:425px) {
  #img-feat-article {
    object-fit: cover;
    max-width: 85%;
    margin: auto;
    width: auto;
    content: url(../assets/img/atardecer_vertical.jpg);
  }
}
@media only screen and (min-width:426px) and (max-width:768px) {
  #img-feat-article {
    content: url(../assets/img/atardecer_vertical.jpg);
    object-fit: cover;
    max-width: 75%;
    margin: auto;
    width: auto;
  }
}
@media only screen and (min-width:769px) and (max-width:1024px) {
  #img-feat-article {
    content: url(../assets/img/atardecer_laptop.jpg);
    object-fit: cover;
    max-width: 100%;
    margin: auto;
    width: auto;
  }
}

.feat-long-desc {
  grid-area: long-desc;
  margin-left: 0.5%;
}
@media only screen and (max-width:425px) {
  .feat-long-desc {
    display: none;
  }
}

.contenedor-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "titular" "img" "long-desc";
}
@media only screen and (max-width:425px) {
  .contenedor-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "img" "titular";
  }
}

#form-main, #store-main {
  padding-top: 8%;
  padding-bottom: 8%;
}

#main-other-articles {
  padding-top: 4%;
  padding-bottom: 4%;
}

.btn {
  font-family: "Yanone Kaffeesatz" !important;
}
@media only screen and (max-width:425px) {
  .btn {
    font-size: xx-large !important;
  }
}

.primary-btn-color {
  border-color: #4040ff !important;
  color: #4040ff !important;
}

.primary-btn-color-full {
  border-color: #4040ff !important;
  background-color: #4040ff !important;
}

.secondary-btn-color {
  border-color: #ff6a6c !important;
  color: #ff6a6c !important;
}

.grid-wrapper {
  display: grid;
  margin-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 1%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "left right";
  border-bottom: 1px dashed #ff6a6c;
}
@media only screen and (max-width:425px) {
  .grid-wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "right" "left";
  }
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.grid-item-left {
  display: flex;
  align-items: center;
  justify-content: start;
}

.copete span {
  color: #4040ff;
}

h3, h4, h5 {
  font-family: "Luxurious Roman";
}

.quote {
  font-family: "Luxurious Roman";
  font-style: italic;
  font-size: large;
}

#img-feat-store {
  grid-area: img;
  content: url(../assets/img/memento_mori.jpg);
  object-fit: cover;
  max-width: 100%;
  border-radius: 30px;
  border: 2px dotted #1c1c3e;
  margin-right: 0.5%;
}
@media only screen and (max-width:425px) {
  #img-feat-store {
    max-width: 100%;
    margin: auto;
    width: auto;
    content: url(../assets/img/memento_mori.jpg);
  }
}
@media only screen and (min-width:426px) and (max-width:768px) {
  #img-feat-store {
    content: url(../assets/img/memento_mori.jpg);
    max-width: 100%;
    margin: auto;
    width: auto;
  }
}
@media only screen and (min-width:769px) and (max-width:1024px) {
  #img-feat-store {
    content: url(../assets/img/memento_mori.jpg);
    max-width: 100%;
    margin: auto;
    width: auto;
  }
}

.left-div {
  grid-area: left;
}

.right-div {
  grid-area: right;
}

.large-grid-wrapper {
  display: grid;
  margin-top: 1%;
  margin-bottom: 1%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "art1 art2" "art3 art4";
}
@media only screen and (max-width:425px) {
  .large-grid-wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "art1" "art2" "art3" "art4";
  }
}

#art1 {
  grid-area: art1;
}

#art2 {
  grid-area: art2;
}

#art3 {
  grid-area: art3;
}

#art4 {
  grid-area: art4;
}

.art-grid-wrapper {
  display: grid;
  margin: 1%;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "art-img" "titl" "txt" "more";
}
.art-grid-wrapper a {
  text-decoration: none;
}

.grid-item-left a {
  background-image: linear-gradient(to right, #574546, #574546 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.grid-item-left a:before {
  content: "";
  background: #574546;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.grid-item-left a:hover {
  background-position: 0;
}
.grid-item-left a:hover::before {
  width: 100%;
}

.art-img {
  grid-area: art-img;
}

.feat-article-title {
  grid-area: titl;
}
.feat-article-title div h4 {
  font-family: "Luxurious Roman";
  font-size: 1.1rem;
  color: #5b6c00;
}
.feat-article-title div h3 {
  margin-top: 0.4rem;
  font-family: "Cinzel Decorative";
  font-size: 1.7rem;
  margin-bottom: 0.1rem;
  color: #1c1c3e;
}

.txt-desc {
  grid-area: txt;
}

.btn-read-more {
  grid-area: more;
}

#img-about {
  grid-area: img;
  content: url(../assets/img/nosotros.jpg);
  max-width: 75%;
  border-radius: 30px;
  border: 2px dotted #1c1c3e;
  margin-right: 0.5%;
}
@media only screen and (max-width:425px) {
  #img-about {
    object-fit: cover;
    max-width: 85%;
    margin: auto;
    width: auto;
  }
}
@media only screen and (min-width:426px) and (max-width:768px) {
  #img-about {
    object-fit: cover;
    max-width: 75%;
    margin: auto;
    width: auto;
  }
}
@media only screen and (min-width:769px) and (max-width:1024px) {
  #img-about {
    object-fit: cover;
    max-width: 100%;
    margin: auto;
    width: auto;
  }
}

#img-art1 {
  grid-area: img;
  content: url(../assets/img/objetivos.jpg);
  max-width: 100%;
  border-radius: 30px;
  border: 2px dotted #1c1c3e;
  margin-right: 0.5%;
}
@media only screen and (max-width:425px) {
  #img-art1 {
    object-fit: cover;
    max-width: 85%;
    margin: auto;
    width: auto;
  }
}
@media only screen and (min-width:426px) and (max-width:768px) {
  #img-art1 {
    object-fit: cover;
    max-width: 75%;
    margin: auto;
    width: auto;
  }
}
@media only screen and (min-width:769px) and (max-width:1024px) {
  #img-art1 {
    object-fit: cover;
    max-width: 100%;
    margin: auto;
    width: auto;
  }
}

#img-art2 {
  grid-area: img;
  content: url(../assets/img/pareja_y_perro.jpg);
  max-width: 100%;
  border-radius: 30px;
  border: 2px dotted #1c1c3e;
  margin-right: 0.5%;
}
@media only screen and (max-width:425px) {
  #img-art2 {
    object-fit: cover;
    max-width: 85%;
    margin: auto;
    width: auto;
  }
}
@media only screen and (min-width:426px) and (max-width:768px) {
  #img-art2 {
    object-fit: cover;
    max-width: 75%;
    margin: auto;
    width: auto;
  }
}
@media only screen and (min-width:769px) and (max-width:1024px) {
  #img-art2 {
    object-fit: cover;
    max-width: 100%;
    margin: auto;
    width: auto;
  }
}

#img-art3 {
  grid-area: img;
  content: url(../assets/img/estatua.jpg);
  max-width: 100%;
  border-radius: 30px;
  border: 2px dotted #1c1c3e;
  margin-right: 0.5%;
}
@media only screen and (max-width:425px) {
  #img-art3 {
    object-fit: cover;
    max-width: 85%;
    margin: auto;
    width: auto;
  }
}
@media only screen and (min-width:426px) and (max-width:768px) {
  #img-art3 {
    object-fit: cover;
    max-width: 75%;
    margin: auto;
    width: auto;
  }
}
@media only screen and (min-width:769px) and (max-width:1024px) {
  #img-art3 {
    object-fit: cover;
    max-width: 100%;
    margin: auto;
    width: auto;
  }
}

#img-art4 {
  grid-area: img;
  content: url(../assets/img/busto.jpg);
  max-width: 100%;
  border-radius: 30px;
  border: 2px dotted #1c1c3e;
  margin-right: 0.5%;
}
@media only screen and (max-width:425px) {
  #img-art4 {
    object-fit: cover;
    max-width: 85%;
    margin: auto;
    width: auto;
  }
}
@media only screen and (min-width:426px) and (max-width:768px) {
  #img-art4 {
    object-fit: cover;
    max-width: 75%;
    margin: auto;
    width: auto;
  }
}
@media only screen and (min-width:769px) and (max-width:1024px) {
  #img-art4 {
    object-fit: cover;
    max-width: 100%;
    margin: auto;
    width: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
